<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

    <link rel="stylesheet" href="css/style.css">
    <title>torZini | eCommerce Site</title>
</head>

<body>
    <div class="grid-container">
        <header class="row">
            <div class="brand">
                <!-- create a hamburger menu -->
                <button onclick="openMenu()">
                    <!-- &#9677; -->
                    <!-- use the aschii sign for hamburger menu-->
                    &#9776; 

                </button>
                <a href="index.html">torZini Mart</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>

        </header>
        <aside class="sidebar">
            <h3>Shopping Categories </h3>
            <button class="sidebar-close-button" onclick="closeMenu()">X</button>
            <ul>
                <li>
                    <a href="pants.html">Pants</a>
                </li>

                <li>
                    <a href="shirts.html">Shirts</a>
                </li>
                <li>
                    <a href="shoes.html">Shoes</a>
                </li>
            </ul>

        </aside>
        <main class="main">
            <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by  830px-->
                        <img class="medium" src="images/slm1.jpg" alt="slim fits">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Zini Slim Shirts</h2>
                        </a>
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            $75.0
                        </div>
                    </div>

                </div>

                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by  830px-->
                        <img class="medium" src="images/slm1.jpg" alt="slim fits">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Zini Slim Shirts</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            $75.0
                        </div>
                    </div>
                </div>

                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by  830px-->
                        <img class="medium" src="images/slm1.jpg" alt="slim fits">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Zini Slim Shirts</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            $75.0
                        </div>
                    </div>
                </div>

                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by  830px-->
                        <img class="medium" src="images/slm1.jpg" alt="slim fits">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Zini Slim Shirts</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            $75.0
                        </div>
                    </div>
                </div>

                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by  830px-->
                        <img class="medium" src="images/slm1.jpg" alt="slim fits">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Zini Slim Shirts</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            $75.0
                        </div>
                    </div>
                </div>

                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by  830px-->
                        <img class="medium" src="images/slm1.jpg" alt="slim fits">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Zini Slim Shirts</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            $75.0
                        </div>
                    </div>
                </div>

                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by  830px-->
                        <img class="medium" src="images/slm1.jpg" alt="slim fits">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Zini Slim Shirts</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            $75.0
                        </div>
                    </div>
                </div>

                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by  830px-->
                        <img class="medium" src="images/slm1.jpg" alt="slim fits">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Zini Slim Shirts</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            $75.0
                        </div>
                    </div>
                </div>

                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by  830px-->
                        <img class="medium" src="images/slm1.jpg" alt="slim fits">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Zini Slim Shirts</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            $75.0
                        </div>
                    </div>
                </div>

            </div>
            <!-- <div class="content"> 
                <ul class="products">
                    <li>
                        <div class="product">
                            <img src="images/slm1.jpg" alt="slim fits" class="product-iamge">
                            <div class="product-name">
                                <a href="product.html"></a>
                            </div>
                            <div class="product-brand">Nike</div>
                            <div class="product-price">$60</div>
                            <div class="product-rating">4.5 Stars (10 reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img src="images/slm1.jpg" alt="slim fits" class="product-iamge">
                            <div class="product-name">
                                <a href="product.html"></a>
                            </div>
                            <div class="product-brand">Nike</div>
                            <div class="product-price">$60</div>
                            <div class="product-rating">4.5 Stars (10 reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img src="images/slm1.jpg" alt="slim fits" class="product-iamge">
                            <div class="product-name">
                                <a href="product.html"></a>
                            </div>
                            <div class="product-brand">Nike</div>
                            <div class="product-price">$60</div>
                            <div class="product-rating">4.5 Stars (10 reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img src="images/slm1.jpg" alt="slim fits" class="product-iamge">
                            <div class="product-name">
                                <a href="product.html"></a>
                            </div>
                            <div class="product-brand">Nike</div>
                            <div class="product-price">$60</div>
                            <div class="product-rating">4.5 Stars (10 reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img src="images/slm1.jpg" alt="slim fits" class="product-iamge">
                            <div class="product-name">
                                <a href="product.html"></a>
                            </div>
                            <div class="product-brand">Nike</div>
                            <div class="product-price">$60</div>
                            <div class="product-rating">4.5 Stars (10 reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img src="images/slm1.jpg" alt="slim fits" class="product-iamge">
                            <div class="product-name">
                                <a href="product.html"></a>
                            </div>
                            <div class="product-brand">Nike</div>
                            <div class="product-price">$60</div>
                            <div class="product-rating">4.5 Stars (10 reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img src="images/slm1.jpg" alt="slim fits" class="product-iamge">
                            <div class="product-name">
                                <a href="product.html"></a>
                            </div>
                            <div class="product-brand">Nike</div>
                            <div class="product-price">$60</div>
                            <div class="product-rating">4.5 Stars (10 reviews)</div>
                        </div>
                    </li>
                </ul>
            </div> -->

        </main>
        <footer class="row center">
            Copyright &copy; torZini 2020. All Rights Reserved
        </footer>
    </div>

    <script>
        function openMenu() {
            document.querySelector(".sidebar").classList.add("open");
        }

        function closeMenu() {
            document.querySelector(".sidebar").classList.remove("open");
        }
    </script>
</body>
<!-- 
    source: https://webacademy.pro/amazona
    Youtube:  https://youtu.be/TRCDsB9i3bI
    Github: https://github.com/basir/amazona
 -->

</html>